@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #222;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}


/* 헤더 */
.header_nav {
    padding: 50px 0;
    position: relative;
    background-color: rgb(146, 206, 255);

}

.header_nav .header_nav_menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 60px;
}

.header_nav .header_nav_menu_li{
    margin-left: 20px;
}

.header_nav .form-inline {
    position: absolute;
    top: 110px; /* 원하는 위치로 조정 */
    right: 10px; /* 원하는 위치로 조정 */
}

/* 콘텐츠 */

.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.content .content_slide {
    position: relative;
}

.content .content_slide img {
    width: 100%;
}

.content .content_slide .content_slide_text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    padding: 5px 15px;
}

.contents .content_slide .content_slide_text h2{
    line-height: 40px;
}



/* 푸터 */
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}